@font-face {
    font-family: "Roboto";
    src: url("../../public/font/Roboto/Roboto-Regular.ttf")
}

*{
    z-index: 10;
}

body {
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow: hidden;
}

.background{
    position: absolute;
    height: 110%;
    width: 110%;
    top: -5%;
    left: -5%;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #fff;
}
h2 {
    margin-bottom: 5px;
    margin-top: 12px;
    font-size: 37px;
    position: relative;
}
h3 {
    margin-top: 10px;
    font-weight: 200;
    font-size: 27px;
    position: relative;
}
.social {
    display: flex;
    align-items: center;
    width: 23%;
    transition:
        width 0.3s,
        background-color 0.3s;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px auto 10px auto;
    padding: 15px;
    min-width: 230px;
    position: relative;
    border-radius: 5px;
}

.social img {
    height: 30px;
    width: auto;
}

.social p {
    margin: 0px auto;
    text-align: center;
    font-size: 26px;
    transform: translateX(-15px);
}

.social:hover {
    width: 25%;
    background-color: rgba(0, 0, 0, 0.5);
}
.pb {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    transition: all 600ms;
    position: relative;
}
.pb:hover {
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

.title:nth-child(2) {
    margin-top: 40px;
    position: relative;
}

.title:nth-child(3) {
    margin-top: 10px;
    position: relative;
}

.no-title {
    margin-top: 100px;
}

.footer {
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 20%;
    transition: opacity 0.2s;
}

.footer:hover {
    opacity: 70%;
}

.footer p {
    margin: 0px;
}

@media (max-width: 500px) {
    body {
        background-size: cover;
    }
}
